.footer {
    background-color: #050d27;
    margin-top: 2rem;
    color: #fff;

    .footerTop {
        padding-block: 3rem;

        @media (max-width: 575.98px) {
            padding: 3rem 2rem;
        }


        .row {
            flex-wrap: wrap;

            @media (max-width: 575.98px) {
                flex-direction: column;
                gap: 4rem;
            }

        }

        svg {
            max-width: 200px;
            display: block;
            margin-left: -1rem;
            margin-bottom: 1rem;

            @media (max-width: 575.98px) {
                margin: 0 auto;
                margin-bottom: 1rem;
            }
        }

        h5 {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }

        h3 {
            font-size: 1.25rem;
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
            font-size: 16px;

            a {
                text-decoration: underline;
                color: blue;
            }
        }

        .socialMenu {
            gap: 1rem;
            display: flex;
            align-items: center;

            a {
                width: 40px;
                height: 40px;
                color: black;
                display: block;
                transition: 0.6s;
                font-size: 1.5em;
                line-height: 40px;
                text-align: center;
                border-radius: 50%;
                background-color: #fff;
                box-shadow: 0 5px 4px rgba(0, 0, 0, 0.5);

                svg{
                    margin: 0 !important;
                    display: inline-block;
                }

                &:hover {
                    color: #fff;
                    transform: translate(0, -10%);

                    &:nth-child(1) {
                        background-color: #ff0000;
                    }

                    &:nth-child(2) {
                        background-color: #bc2a8d;
                    }

                    &:nth-child(3) {
                        background-color: #0077b5;
                    }
                }
            }
        }
    }


    .footerBottom {
        text-align: center;
        padding-block: 1rem;
        border-top: 1px solid rgba(white, 0.3);

        @media (max-width: 575.98px) {
            padding: 1rem 2rem;
        }

    }
}