.clientSlider {
    margin: 20px auto;
    width: 90%;
}

.imageContainer {
    padding: 10px;
    text-align: center;

    img {
        max-width: 100%;
        height: auto;
    }
}

// Adjustments for mobile view
@media (max-width: 768px) {
    .imageContainer {
        padding: 5px;
    }
}

@media (max-width: 480px) {
    .imageContainer {
        padding: 2px;
    }

    .clientSlider {
        padding: 0px 15px;
    }
}