@import './lib/mixins';

.home {
    position: relative;

    .section2 {
        padding-block: 10rem;
        min-height: auto;
    }

    .section3 {
        min-height: auto;

        >div {
            position: relative;
        }
    }

    .section4 {
        padding: 10rem 0;

        h2 {
            line-height: 3rem;
            letter-spacing: 0.5px;
            font-size: calc(1.325rem + .9vw);

            @media (max-width: 767.98px) {
                font-size: 1rem;
                line-height: 32px;
                font-weight: 300;
            }
        }
    }

    .section5 {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;

        >img {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            filter: blur(25px);
        }

        >div {
            position: relative;
            z-index: 2;
        }

        h1 {
            margin-bottom: 3rem;
        }

    }

    .section7 {
        min-height: auto;

        h1 {
            margin-bottom: 2rem;
        }
    }
}