@import './lib/mixins';

.home {
    position: relative;

    .section2, .section9 {
        padding-block: 10rem;
        min-height: auto;
    }

    .section3 {
        min-height: auto;

        >div {
            position: relative;
        }
    }

    .section4 {
        padding: 5rem 0 10rem 0;

        h2 {
            font-size: 1.5rem;
            line-height: 32px;
            font-weight: 300;
            letter-spacing: 0.5px;
        }
    }

    .section5 {
        background-position: center top;
        background-repeat: no-repeat;
        background-size: 100%;
        position: relative;

        >img {
            position: absolute;
            left: 0;
            top: 0;
            z-index: 1;
            filter: blur(25px);
        }

        >div {
            position: relative;
            z-index: 2;
        }

        h1 {
            margin-bottom: 3rem;
        }

    }

    .section6 {
        padding: 10rem 0 5rem 0;
    }

    .section7 {
        min-height: auto;

        h1 {
            // margin-bottom: 2rem;
            margin-top: 2rem;
        }
    }

    .section8 {
        margin-bottom: 2rem;
    }

}