.clientImages {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    .imageContainer {
        flex-basis: 30%;
        padding: 1rem;

        img{
            max-width: 200px;
            margin: 0 auto;
        }

        @media (max-width: 767.98px) {
            width: 50%;
        }
    }
}